
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'leiko';
    src: url("../public/fonts/Leiko/Leiko-Regular.otf");  
    font-weight: normal;
  }
  @font-face {
    font-family: 'dancingScript';
    src: url("../public/fonts/DancingScript/DancingScript-Regular.ttf");  
    font-weight: 400;
  }
@font-face {
    font-family: 'dancingScript';
    src: url("../public/fonts/DancingScript/DancingScript-Medium.ttf");  
    font-weight: 500;
  }

@font-face {
    font-family: 'dancingScript';
    src: url("../public/fonts/DancingScript/DancingScript-SemiBold.ttf");  
    font-weight:600 ;
  }
@font-face {
    font-family: 'dancingScript';
    src: url("../public/fonts/DancingScript/DancingScript-Bold.ttf");  
    font-weight: 700;
  }




  @layer base{
    html{
      background-color: #221518;
    }
    *{
      margin: 0;
      padding: 0;
    }
    button{
      background-color: transparent;
      border: none;
    }
  }



  .bg-hero{
    background: rgb(34,21,24);
    background: -moz-linear-gradient(324deg, rgba(34,21,24,0) 36%, rgba(116,95,88,0.4150253851540616) 84%);
    background: -webkit-linear-gradient(324deg, rgba(34,21,24,0) 36%, rgba(116,95,88,0.4150253851540616) 84%);
    background: linear-gradient(324deg, rgba(34,21,24,0) 36%, rgba(116,95,88,0.4150253851540616) 84%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#221518",endColorstr="#745f58",GradientType=1);
  }
  .bg-cart-hero{
    background: rgba(74, 39, 33, 0.85);
  }
  .bg-text{
    background: linear-gradient(251deg, #E0A872 13.76%, #F8E4BE 49.91%, #FFF3E0 58.47%, #E0A872 95.09%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
  .text-shadow{
    text-shadow: 0px 0px 0px rgba(32, 19, 22, 0.62), 0px 3px 6px rgba(32, 19, 22, 0.60), 0px 11px 11px rgba(32, 19, 22, 0.52), 0px 25px 15px rgba(32, 19, 22, 0.31), 0px 44px 18px rgba(32, 19, 22, 0.09), 0px 69px 19px rgba(32, 19, 22, 0.01);
  }
  .btn{
   border: 1px solid #E0A872;
  }
  .hero-title{
    -webkit-text-stroke-color: #E0A872;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke-width: .8px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.78), 7px 6px 20px rgba(0, 0, 0, 0.77), 30px 22px 37px rgba(0, 0, 0, 0.67), 67px 51px 50px rgba(0, 0, 0, 0.39), 118px 90px 59px rgba(0, 0, 0, 0.12), 185px 140px 65px rgba(0, 0, 0, 0.01);
  }
  .bg-hero2{
    background: radial-gradient(87.49% 135.69% at 98.55% 92.63%, #3A1B1A 0%, rgba(124, 87, 60, 0.00) 100%), #7C573C;
  }
  .active-link-header{
    background: linear-gradient(94deg, rgba(223, 195, 157, 0.40) -9.94%, rgba(248, 228, 190, 0.40) 19.83%, rgba(223, 195, 157, 0.40) 50.71%, rgba(248, 228, 190, 0.40) 81.26%, rgba(248, 228, 190, 0.40) 111.66%);
    backdrop-filter: blur(2px);
    border-radius: 0px 0px 30px 30px;
  }
  .bg-card-slider{
    border-radius: 35px;
    background: rgb(173,113,74);
    background: -moz-linear-gradient(29deg, rgba(173,113,74,0.35) 55%, rgba(125,86,71,0.55) 77%, rgba(119,81,66,0.7) 85%);
    background: -webkit-linear-gradient(29deg, rgba(173,113,74,0.35) 55%, rgba(125,86,71,0.55) 77%, rgba(119,81,66,0.7) 85%);
    background: linear-gradient(29deg, rgba(173,113,74,0.35) 55%, rgba(125,86,71,0.55) 77%, rgba(119,81,66,0.7) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ad714a",endColorstr="#775142",GradientType=1);
    backdrop-filter: blur(2px);
  }
  .bg-card-slider2{
    border-radius: 35px;
    background: rgb(173,113,74);
    background: -moz-linear-gradient(324deg, rgba(173,113,74,0.35) 55%, rgba(125,86,71,0.55) 77%, rgba(119,81,66,0.7) 85%);
    background: -webkit-linear-gradient(324deg, rgba(173,113,74,0.35) 55%, rgba(125,86,71,0.55) 77%, rgba(119,81,66,0.7) 85%);
    background: linear-gradient(324deg, rgba(173,113,74,0.35) 55%, rgba(125,86,71,0.55) 77%, rgba(119,81,66,0.7) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ad714a",endColorstr="#775142",GradientType=1);
    backdrop-filter: blur(2px);
  }
  .card-border-left{
    border-top: 1px solid #A8715C;
    border-left: 2px solid #A8715C;
    border-radius: 35px;
    /* border-image: 
      linear-gradient(
        to bottom, 
        #A8715C, 
        #221518
      ) 1 100%; */
  }
  .card-border-right{
    border-top: 1px solid #A8715C;
    border-right: 2px solid #A8715C;
    border-radius: 35px;
    /* border-image: 
      linear-gradient(
        to bottom, 
        #A8715C, 
        #221518
      ) 1 100%; */
  }
  .section-title{
    @apply font-dancingScript text-4xl text-[#F8E4BE] ;
  }

  .bg-btn{
    background: rgba(247, 225, 188, 0.10);
  }
  .bg-btn2{
    background: rgba(247, 225, 188, 0.30);
  }